
"SELECT security.* FROM security " +
                "JOIN trades ON security.id = trades.security_id " +
                "JOIN book_user ON trades.book_id = book_user.book_id " +
                "WHERE book_user.user_id = ? AND security.type = 'bond'"




### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
